@use '../../../app/styles' as m;

.table__row {
  @include m.table-row-base;
}

.table__title {
  @include m.sticky-column-base;
  left: 0;
  border-right: 1px solid var(--color-border);
  min-width: var(--table-cell-width);
  justify-content: start;
  padding-left: 5px;

  &--bold {
    font-weight: bold;
  }
}

.table__days {
  display: flex;

  &--grey {
    background-color: var(--color-bg);
  }

  div:nth-last-child(1) {
    border-right: none;
  }
}

.table__day-cell {
  border-right: 1px solid var(--color-border);
  min-width: var(--table-cell-width);;
  height: var(--table-cell-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-hover);
    cursor: pointer;
  }

  &--active {
    background-color: var(--color-blue-hover);
  }

  &-num {
    font-size: var(--font-size-m);
    font-weight: bold;

    &--active {
      color: var(--color-primary);
    }
  }

  &-title {
    font-size: var(--font-size-s);
    font-weight: 500;

    &--active {
      color: var(--color-accent);
    }
  }
}

.table__total-sticky {
  @include m.sticky-column-base;
  right: 0;
  border-left: 1px solid var(--color-border);
  min-width: var(--table-total-width);
  justify-content: center;

  &--grey {
    background-color: var(--color-bg);
  }
}