html.dark {
  --color-text: #f7f8fa;
  --color-bg: #181a1b;
  --color-surface: #23272b;
  --color-border: #2c2f34;
  --color-primary: #2196f3;
  --color-primary-hover: #42a5f5;
  --color-secondary: #424242;
  --color-secondary-hover: #616161;
  --color-accent: #90caf9;
  --color-hover: #23272b;
}